<div class="container">
  <div class="row">
    <div class="completion col-md-6 offset-md-3 text-center">
      <p>お問い合わせが完了しました。</p>
    </div>
  </div>
</div>

<div class="container">
  <div class="row">
    <div class="inquiry-area col-md-6 offset-md-3">
      <div class="border-top"></div>
      <div class="inquiry-text">
        <p>お問い合わせありがとうございます。<br>ご確認でき次第ご連絡致しますので今しばらくお待ちください。</p>
      </div>
      <div class="border-bottom"></div>
    </div>
  </div>
</div>
<div class="container col-md-5 offset-md-7 mt-5">
  <div class="row">
    <a href="toppages#index">>TOPへ戻る</a>
  </div>
</div>